repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: [--strict]

  - repo: https://github.com/numpy/numpydoc
    rev: v1.10.0
    hooks:
      - id: numpydoc-validation

  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: "1.7.1"
    hooks:
      - id: tox-ini-fmt
