name: "Python CI"

on:
  workflow_dispatch: {}
  pull_request: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run tox
        uses: lsst-sqre/run-tox@f05a56903e31b8047eedde87a90b0a79b8157d21 # v1
        with:
          python-version: ${{ matrix.python }}
          tox-envs: "lint"

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run tox
        uses: lsst-sqre/run-tox@f05a56903e31b8047eedde87a90b0a79b8157d21 # v1
        with:
          python-version: ${{ matrix.python }}
          tox-envs: "py,coverage-report"

  check-docs:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0 # full history for setuptools_scm

      - name: Run tox
        uses: lsst-sqre/run-tox@f05a56903e31b8047eedde87a90b0a79b8157d21 # v1
        with:
          python-version: ${{ matrix.python }}
          tox-envs: "docs"

  test-packaging:
    runs-on: ubuntu-latest
    needs: [lint, test, check-docs]

    strategy:
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0 # full history for setuptools_scm

      - name: Run tox
        uses: lsst-sqre/run-tox@f05a56903e31b8047eedde87a90b0a79b8157d21 # v1
        with:
          python-version: ${{ matrix.python }}
          tox-envs: "check-packaging"
